#TextField1 {
    -fx-font-size: 18px;
    -fx-border-color: #080169;
}

#Button1 {
    -fx-font-size: 20px;
    -fx-background-color: #080169;
    -fx-text-fill: #FFD96D;
}

#Button2 {
    -fx-background-color: #080169;
}
#Anchor1{
    -fx-background-color: #080169;
}
#Button3{
    -fx-background-color: #080169;
}
#Button4{
    -fx-background-color: #080169;
}
#Button5{
    -fx-background-color: #080169;
}